.page-title {
	text-transform: uppercase;
}
.mini-cart {
	margin: 20px 0;
	background: white;
	width: 320px;
	position: absolute;
	border-radius: 3px;
	padding: 15px;
	border: 1px solid #dee2e6 !important;
	right:15px;
	z-index: 999;
}

.mini-cart .mini-cart-header {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 10px;
}
.mini-cart .mini-cart-footer {
    padding: 10px 0 0 0;
}

.mini-cart .mini-cart-header .mini-cart-total {
	float: right;
}

.mini-cart .mini-cart-items {
	padding:0;
	padding-top: 20px;
}

.mini-cart .mini-cart-items li {
	margin-bottom: 10px;
	list-style: none;
}

.mini-cart .mini-cart-items img {
	float: left;
	margin-right: 10px;
}

.mini-cart .mini-cart-items .item-name {
	display: block;
	font-size: 16px;
}

.mini-cart .mini-cart-items .item-price {
	color: #6394F8;
	margin-right: 10px;
}
.mini-cart .mini-cart-items .item-remove {
    float: right;
	margin-right: 15px;
}
.mini-cart .mini-cart-items .item-remove .fa.fa-trash{
	line-height: 25px;
}
.mini-cart .mini-cart-items .item-quantity {
	color: #ABB0BE;
	margin-right: 10px;
}

.mini-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}
.mini-cart:before  {
	border-color: #000 transparent;
}


.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}