.page-title {
	text-transform: uppercase;
}
.mini-cart {
	margin: 20px 0;
	background: white;
	width: 320px;
	position: absolute;
	border-radius: 3px;
	padding: 15px;
	border: 1px solid #dee2e6 !important;
	right:50px;
}

.mini-cart .mini-cart-header {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 10px;
}
.mini-cart .mini-cart-footer {
    padding: 10px 0 0 0;
}

.mini-cart .mini-cart-header .mini-cart-total {
	float: right;
}

.mini-cart .mini-cart-items {
	padding:0;
	padding-top: 20px;
}

.mini-cart .mini-cart-items li {
	margin-bottom: 18px;
	list-style: none;
}

.mini-cart .mini-cart-items img {
	float: left;
	margin-right: 12px;
}

.mini-cart .mini-cart-items .item-name {
	display: block;
	padding-top: 10px;
	font-size: 16px;
}

.mini-cart .mini-cart-items .item-price {
	color: #6394F8;
	margin-right: 8px;
}

.mini-cart .mini-cart-items .item-quantity {
	color: #ABB0BE;
}

.mini-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}
.mini-cart:before  {
	border-color: #000 transparent;
}